extends layout

block content

  .container-fluid.content-container#about-me-container

    .row#about-me-title-row
      .col#about-me-title-col
        h1#about-me-title About Me

    .row#about-me-text-row
      .col
        p#about-me-text.body-copy My name is Finley. I am a front-end web developer, game designer, and marketer. I have worked on a plethora of projects requiring a wide range of skills. <br /><br /> An energetic learner and perpetual problem solver, <br />I am always looking for new ideas to wrap my brain around. I strive to create quality products that fulfill the needs of whomever may use them. <br /><br />Above all else, I believe success is achieved through respect, understanding, and integrity.

        ul#languages-list
          li#language-list-title.underline.body-copy Proficencies
          li.body-copy HTML/CSS
          li.body-copy Javascript
          li.body-copy Node.js
          li.body-copy Express
          li.body-copy React
          li.body-copy MongoDB
          li.body-copy Pug
          li.body-copy ActionScript 3

        #contact-div
          p.underline.body-copy#contact-title Contact
          a.body-copy(href="mailto:finley.williamson@gmail.com")#contact-link finley.williamson@gmail.com