extends layout

block content

  .container.mt-4
    .row.align-items-center#title-row
      .col#title-cards
        .title-card
          #title-text
            span.pink front end
            span.green  web developer
            span.yellow  with experience in node.js
            span ,
            span.yellow  react
            span ,
            div
            span.yellow  & css
            span#back-slash /
            span.yellow html
        .title-card#button-card
            a(href="/portfolio")
              button.btn#title-button view my work