extends layout

block content

  .container#title-container
    .row.align-items-center#title-row
      .col#title-cards
        .title-card
          p#title-text Front end web developer with experience in Node.js, React, & CSS/HTML
        .title-card#button-card
            a(href="/projects")
              button.btn.body-copy#title-btn View My Work