doctype html(lang='en')

head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title Portfolio
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
  link(rel="stylesheet", href="https://use.typekit.net/jep3twu.css")
  link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  link(rel='stylesheet', href='/stylesheets/layout.css')
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href='/stylesheets/projects.css')

  body

    .container-fluid#navbar-container
      .row#navbar

        //- NAME
        .col-12.col-md#name-col
          //- name button
          button.btn.d-md-none.navbar-btn#name-button finley williamson v
          //- name link
          a.navbar-link.d-none.d-md-block#name finley williamson v

        //- PORTFOLIO
        .col-12.col-md-2#portfolio-col
          //- portfolio button
          button.btn.d-md-none.navbar-btn#portfolio-button portfolio
          //- portfolio link
          a.navbar-link.d-none.d-md-block#portfolio-link portfolio
        
        //- ABOUT ME
        .col-12.col-md-2#about-me-col
          //- about me button
          button.btn.d-md-none.navbar-btn#about-me-button about me
          //- about me link
          a.navbar-link.d-none.d-md-block#about-me-link about me

        //- GITHUB
        .col.col-md-1#github-col
          //- github button
          a(href="https://github.com/finleywilliamsonV", target="_blank")
            button.btn.d-md-none.navbar-btn#github-button
              i.fab.fa-github
          //- github link with hover
          a.d-none.d-md-block#github-link(href="https://github.com/finleywilliamsonV", target="_blank")
            i.fab.fa-github
        
        //- EMAIL
        .col.col-md#email-col
          //- email button
          a(href="mailto:finley.williamson@gmail.com")
            button.btn.d-md-none.p-0.navbar-btn#email-button
              i.far.fa-envelope
          //- email link with hover
          a.d-none.d-md-block#email-link
            i.far.fa-envelope

  // content block
  block content
  
  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")