extends layout

block content

  .container-fluid.content-container#projects-container

    .row#projects-title-row
      .col#projects-title-col
        h1#projects-title Projects

    .row.d-none.d-md-block#selector-row
      .col
        button.selector-btn.body-copy#select-node Node.js
        button.selector-btn.body-copy#select-express Express
        button.selector-btn.body-copy#select-react React
        button.selector-btn.body-copy#select-mongoDB MongoDB
        button.selector-btn.body-copy#select-pug Pug
        button.selector-btn.body-copy#select-parcel Parcel
        button.selector-btn.body-copy#select-as3 ActionScript 3

    .row.mx-auto#projects-row
    
      .col-12.col-md-6.col-lg-4.card-col#col-lorem
        .mobile-title.d-md-none Lorem Ipsum Generator
        .card.project-card.mx-auto.project-card
          img.img-fluid.project-image(src="img/LoremIpsum3x2.png", alt="Lorem Ipsum Generator")#image-lorem
          .overlay#overlay-lorem
            .overlay-text Lorem Ipsum Generator

      .col-12.col-md-6.col-lg-4.card-col#col-todo
        .mobile-title.d-md-none ToDo List
        .card.project-card.mx-auto.project-card
          img.img-fluid.project-image(src="img/ToDoList3x2.png", alt="ToDo List")#image-todo
          .overlay#overlay-todo
            .overlay-text ToDo List

      .col-12.col-md-6.col-lg-4.card-col#col-weather
        .mobile-title.d-md-none Real-Time Weather
        .card.project-card.mx-auto.project-card
          img.img-fluid.project-image(src="img/Weather3x2-cropped.png", alt="Real-Time Weather")#image-weather
          .overlay#overlay-weather
            .overlay-text Real-Time Weather

      .col-12.col-md-6.col-lg-4.card-col#col-emoji
        .mobile-title.d-md-none Emojis in Space
        .card.project-card.mx-auto.project-card
          img.img-fluid.project-image(src="img/EmojisInSpace/EmojisInSpace3x2.png", alt="Emojis in Space")#image-emoji
          .overlay#overlay-emoji
            .overlay-text Emojis in Space

      .col-12.col-md-6.col-lg-4.card-col#col-dungeon
        .mobile-title.d-md-none Dungeon Masters
        .card.project-card.mx-auto.project-card
          img.img-fluid.project-image(src="img/DungeonMasters/DungeonMasters3x2.png", alt="Dungeon Masters")#image-dungeon
          .overlay#overlay-dungeon
            .overlay-text Dungeon Masters

      //- Modal
      #project-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') X
            .modal-body
              .container-fluid#modal-body-container
                .row
                  .col-lg-7#carousel-col
                    #project-carousel.carousel.slide.vertical-center(data-ride='carousel', data-interval='false')
                      //- add .carousel-inner here
                        //- add slides here
                      //- add controls here
                  .col#info-col.align-self-end
                    h1#modal-title
                    hr#modal-hr
                    p#modal-tags
                      //- add tag buttons here
                    #modal-text
                      p.body-copy#modal-description this to do list is made in this and i made it because of this. so, here it is. look at it. click on the link. then look at that. then come back to this page, exit out of the project and look at another project. then, hire me ya ding.
                    //- .modal-footer
                    #modal-button-div
                      //- button.btn.btn-primary(type='button') EMPTY BUTTON