extends layout

block content

  .container-fluid.content-container#projects-container

    .row#projects-title-row
      .col#projects-title-col
        h1#projects-title projects

    .row#selector-row
      .col
        button.selector-btn.select-node-btn#select-node node.js
        button.selector-btn.select-express-btn#select-express express
        button.selector-btn.select-mongoDB-btn#select-mongoDB mongoDB
        button.selector-btn.select-react-btn#select-react react
        button.selector-btn.select-as3-btn#select-as3 actionscript 3

    .row.mx-auto#projects-row
    
      .col-12.col-md-6.col-lg-4.card-col#col-lorem
        .mobile-title.d-md-none Lorem Ipsum Generator
        .card.project-card.mx-auto.project-card
          img.img-fluid.project-image(src="img/LoremIpsum3x2.png", alt="")#image-lorem
          .overlay#overlay-lorem
            .overlay-text Lorem Ipsum Generator

      .col-12.col-md-6.col-lg-4.card-col#col-todo
        .mobile-title.d-md-none ToDo List
        .card.project-card.mx-auto.project-card
          img.img-fluid.project-image(src="img/ToDoList3x2.png", alt="")#image-todo
          .overlay#overlay-todo
            .overlay-text ToDo List

      .col-12.col-md-6.col-lg-4.card-col#col-kanban
        .mobile-title.d-md-none Kanban
        .card.project-card.mx-auto.project-card
          img.img-fluid.project-image(src="img/placeholder3x2.png", alt="")#image-kanban
          .overlay#overlay-kanban
            .overlay-text Kanban

      .col-12.col-md-6.col-lg-4.card-col#col-emoji
        .mobile-title.d-md-none Emojis in Space
        .card.project-card.mx-auto.project-card
          img.img-fluid.project-image(src="img/EmojisInSpace3x2.png", alt="")#image-emoji
          .overlay#overlay-emoji
            .overlay-text Emojis in Space

      .col-12.col-md-6.col-lg-4.card-col#col-dungeon
        .mobile-title.d-md-none Dungeon Masters
        .card.project-card.mx-auto.project-card
          img.img-fluid.project-image(src="img/DungeonMasters3x2.png", alt="")#image-dungeon
          .overlay#overlay-dungeon
            .overlay-text Dungeon Masters

      //- Modal
      #project-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
          .modal-content
            .modal-header
              //- h5#exampleModalLongTitle.modal-title Modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') X
            .modal-body
              .container-fluid
                .row
                  .col-7#carousel-col
                    #project-carousel.carousel.slide(data-ride='carousel', data-interval='false')
                      //- add .carousel-inner here
                        //- add slides here
                      //- add controls here
                  .col#info-col.align-self-end
                    h1#modal-title
                    #modal-tags
                      //- add tag buttons here
                    #modal-text
                      p#modal-description this to do list is made in this and i made it because of this. so, here it is. look at it. click on the link. then look at that. then come back to this page, exit out of the project and look at another project. then, hire me ya ding.
                    //- .modal-footer
                    #modal-button
                      //- button.btn.btn-primary(type='button') EMPTY BUTTON