* {
  color: #fff;
  font-family: "neue-haas-grotesk-display";
  font-size: 16px;
  font-weight: 500;
  /* border: 1px red solid; */
}

.body-copy {
  font-family: "open-sans";
  font-weight: 300;
}

.border {
  border: 1px red solid !important; 
}

a, i {
  cursor: pointer;
  transition: .25s;
  color: #7f8080;
}


/* COLORS */

#portfolio-btn,
#about-me-btn {
  color: #7f8080;
}

#name-link:hover,
#portfolio-link:hover,
#about-me-link:hover,
#github-link:hover,
#github-btn:hover,
#email-link:hover,
#email-btn:hover {
  color: #ffffff;
}

#name-btn:hover,
#portfolio-btn:hover,
#about-me-btn:hover {
  background-color: #00c0f3;
  color: #000;
  border: #00c0f3;
}

body {
  background-color: #000000;
}

.blue {
  color: #00c0f3;
}

.light-grey {
  color: #7f8080;
}

.grey {
  color: #3c3f42;
}

/* NEGATING DEFAULT STYLES */

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none !important;
    box-shadow: none !important;
}

button:focus,button:active:focus,button.active:focus,
button.focus,button:active.focus,button.active.focus {
    outline: none !important;
    box-shadow: none !important;
}

#name-link,
#portfolio-link,
#about-me-link,
#name-btn {
  text-decoration: none;
  color: #7f8080;
}

.row {
  margin: 0;
}


/* MEDIA QUERIES */

@media (min-width: 0) {

  #navbar-container {
    /* padding-left: 40px; */
    /* padding-right: 40px; */
  }

  #navbar * {
    text-align: center;
  }

  #navbar [class ^= 'col'] {
    width: 100%;
    margin: 5px 0;
  }

  [class ^= 'col'] {
    padding: 0;
  }

  [class ^= 'col'] button.btn,
  .navbar-link {
    font-size: 20px;
  }

  .navbar-btn {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 12px;
    max-width: 330px;
    padding: 0;
  }

  #name-btn {
    margin-top: 10px;
  }

  #portfolio-btn {
    border: 2px solid #7f8080;
  }

  #about-me-btn {
    border: 2px solid #7f8080;
  }

  i {
    font-size: 30px;
  }

  #navbar {
    width: 270px;
    margin: 0 auto;
  }

  #github-col {
    margin-right: 20px;
  }


}

@media (min-width: 576px) {
  body {
    /* background-color: darkred !important; */
  }

  #navbar {
    width: 365px;
  }

  .navbar-btn {
    max-width: 500px;
  }

}

@media (min-width: 768px) {
  body {
    /* background-color: darkcyan !important; */
  }

  #navbar-container {
    padding-left: 40px;
    padding-right: 25px;
  }

  #navbar {
    width: 100%;
    margin-top: 20px;
  }

  #github-col {
    margin-right: 0px;
  }

  email-link {
    margin: 0;
  }


  #name-col * {
    text-align: left;
    /* margin-left: 10px; */
  }

  #portfolio-col *,
  #about-me-col *,
  #github-col *,
  #email-col * {
    text-align: center;
  }

  #name-col {
    min-width: 275px;
    max-width: 275px;
  }

  #portfolio-col { 
    max-width: 150px;
  }

  #about-me-col { 
    max-width: 140px;
  }

  #github-col,
  #email-col {
    max-width: 65px;
  }
}

@media (min-width: 992px) {
  body {
    /* background-color: darkmagenta !important; */
  }
}

@media (min-width: 1200px) {
  body {
    /* background-color: #1e2024 !important; */
  }

}