.modal * {
  color: black;
  /* border: red 1px solid; */
}

.modal-dialog {
  max-width: 90% !important;
}

#info-col {
  padding-right: 0;
  padding-top: 0;
}

.modal-display-btn {
  border: 0;
}

#modal-description {
  font-size: 20px;
  line-height: 18px;
  letter-spacing: -2px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.modal-body [class^='col'] {
  margin-left: 20px;
}

#spacer-col-modal {
  height: 20px;
}

.modal-body {
  margin-bottom: 49px;
}

@media (min-width: 0) {

  .modal-body,
  #modal-body-container {
    padding: 0;
  }

  .carousel-inner {
    width: 300px;
  }

  #modal-title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {

  .carousel-inner {
    width: inherit;
  }
}


@media (min-width: 768px) {
  .modal-body,
  #modal-body-container {
    padding: 15px;
  }

}
/*
@media (min-width: 0) {

} */