/* PROJECTS PAGE */

.card {
  background-color: transparent;
  border: none;
}

img {
  border-radius: 12px;
}

/* MEDIA QUERIES */

@media (min-width: 0) {
  
  #projects-title-col {
    padding: 0;
    margin-top: 10px;
  }
  
  #projects-title {
    font-size: 39px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
  }

  #selector-row {
    margin-left: 0px;
    margin-top: 15px;
  }
  
  #projects-row .card-col {
    margin: 0;
    padding-right: 20px;
    padding-top: 20px;
  }

}

@media (min-width: 576px) {
  
}

@media (min-width: 768px) {
  #projects-container {
    margin: 40px auto 10px;
  }
  
  #projects-title-col {
    padding: 0;
    margin-top: 40px;
  }
  
  #projects-title {
    font-size: 50px;
    font-weight: 750px;
    margin: 0;
  }

  #selector-row {
    margin-left: 0px;
    margin-top: 15px;
  } 

  #projects-row .card-col {
    margin: 0;
    padding-right: 25px;
    padding-top: 25px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}


/* BUTTON COLORS */

.selector-btn {
  font-weight: 400;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 1px 25px;
  border-radius: 12px;
  transition: 0.25s;
  border: 2px solid #00c0f3;
  background-color: transparent;
}

.selector-btn:hover,
.selector-btn.active {
  background-color: #00c0f3;
  color: #000000;
} 