/* PROJECTS PAGE */

* {
  /* border: 1px red solid; */
}

#projects-row {
  margin-top: 10px;
}

.card {
  background-color: transparent;
  border: none;
}

img {
  border-radius:14px;
}

.card-col {
  /* max-width: 600px; */
}

/* MEDIA QUERIES */

@media (min-width: 0) {
  
  #projects-title-col {
    padding: 0;
    margin-top: 10px;
  }
  
  #projects-title {
    font-size: 39px;
    font-weight: 700px;
    margin: 0;
  }

  #selector-row {
    margin-left: 0px;
    margin-top: 15px;
  }
  
  #projects-row .card-col {
    margin: 0;
    padding-right: 30px;
    padding-top: 30px;
  }

}

@media (min-width: 576px) {
  
}

@media (min-width: 768px) {
  #projects-container {
    margin: 40px auto 10px;
  }
  
  #projects-title-col {
    padding: 0;
    margin-top: 40px;
  }
  
  #projects-title {
    font-size: 50px;
    font-weight: 750px;
    letter-spacing: -2px;
    margin: 0;
  }

  #selector-row {
    margin-left: 0px;
    margin-top: 15px;
  } 

  #projects-row .card-col {
    margin: 0;
    padding-right: 35px;
    padding-top: 35px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}


/* BUTTON COLORS */

.selector-btn,
.modal-display-btn {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0 15px;
  border-radius:14px;
  transition: 0.25s;
}



.select-node-btn,
.select-as3-btn {
  border: 2px solid #5bb947;
  background-color: transparent;
}
.select-node-btn:hover,
.select-node-btn.active,
.select-node-modal,
.select-as3-btn:hover,
.select-as3-btn.active,
.select-as3-modal {
  background-color: #5bb947;
  color: #000;
}

.select-express-btn {
  border: 2px solid #4d84c4;
  background-color: transparent;
}
.select-express-btn:hover,
.select-express-btn.active,
.select-express-modal {
  background-color: #4d84c4;
  color: #000;
}

.select-mongoDB-btn {
  border: 2px solid #e72e8f;
  background-color: transparent;
}
.select-mongoDB-btn:hover,
.select-mongoDB-btn.active,
.select-mongoDB-modal {
  background-color: #e72e8f;
  color: #000;
}

.select-react-btn {
  border: 2px solid #f3eb3e;
  background-color: transparent;
}
.select-react-btn:hover,
.select-react-btn.active,
.select-react-modal {
  background-color: #f3eb3e;
  color: #000;
}